{% extends 'base.html' %}

{% block title %}
    User Registration
{% endblock title %}

{% block content %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h4 class="mt-2">User Registration</h4>
            </div>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                <input type="text" id="first_name" class="fadeIn second" name="first_name" 
                       placeholder="First Name" required>
                <input type="text" id="last_name" class="fadeIn second" name="last_name" 
                       placeholder="Last Name" required>
                <input type="text" id="username" class="fadeIn second" name="username" 
                       placeholder="Username" required>
                <input type="email" id="email" class="fadeIn second" name="email" 
                       placeholder="Email Address" required>
                <input type="text" id="phone" class="fadeIn second" name="phone" 
                       placeholder="Mobile No" required>
                <input type="password" id="password1" class="fadeIn third" name="password1" 
                       placeholder="Password" required>
                <input type="password" id="password2" class="fadeIn third" name="password2" 
                       placeholder="Re-Enter Password" required>
                <input type="submit" class="fadeIn fourth" value="Sign Up">
            </form>

            <div id="formFooter">
                Already have an account? <a class="underlineHover" href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
{% endblock content %}